.childList {
  width: 616px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.button {
  background-color: #01A7FD;
  text-align: center;
  width: 118px;
  height: 44px;
  border-radius: 100px;
  color: white;
  margin-top: 30px;
}

.childList span {
  font-weight: 500;
  font-size: 16px;
}

.ChildlistItem {
  display: flex;
  margin-top: 20px;
}

.ChildlistItem:first-child {
  margin-top: 20px;
}

.input_section {
  position: relative;
}

.input_section p {
  color: red;
  position: absolute;
  font-size: 13px;
  left: 5px;
  top: 52px;
}

.input_section input {
  width: 260px;
  height: 56px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 5px;
  padding: 20px 0 0 16px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-right: 18px;
}

.input_section label {
  color: rgba(17, 17, 17, 0.48);
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.ChildlistItem button {
  height: 56px;
  width: 60px;
  color: #01A7FD;
  background-color: transparent;
}